<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="test,site,website"/>
    <meta name="description" content="Пробный сайт"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>О нас</title>
</head>
<body>
<div id="page-wrap">
    <header th:insert="blocks/header :: header"></header>
    <div class="clear"><br/></div>
    <center>
        <div id="menu">Разделы
            <hr/>
        </div>
        <div id="menuHrefs">
            <a href="/about">О нас</a>
            <a href="/feedback">Обратная связь</a>
            <a href="/blog">Блог</a>
            <a href="/blog/add">Добавить статью</a>
            <a href="/">Главная</a>
        </div>
    </center>
    <div id="wrapper">
        <div id="articles">
            <div id="about_us">
                <p class="p_about">Добро пожаловать на наш сайт о животных!
                <p/>

                <p class="p_about"> Мы представляем вам уникальный ресурс, посвященный миру животных. Наш сайт создан с целью объединить
                    всех любителей,
                    защитников и исследователей животных, чтобы совместно исследовать, познавать и понимать этот
                    разнообразный мир.
                    Присоединяйтесь к нам и вместе исследуем мир животных, рассказываем истории, делимся опытом и делаем
                    планету более дружелюбной
                    и безопасной для всех ее обитателей. Мы с нетерпением ждем вашего вклада и надеемся, что наш сайт
                    станет вашим надежным
                    источником информации и вдохновения.</p>

                <p class="p_about">Добро пожаловать в увлекательный мир животных!
                </p>
            </div>
            <div id="columnRight">
                <p>
                    <img id="about_img" src="/img/tigr.jpg" alt="Изображение" title="Изображение"/>
                </p>

            </div>
        </div>
    </div>
</div>
<footer>
    <span class="left">Все права защищены &copy; 2023</span>
    <span class="right">Социальные сети
    <img src="/img/VK.png" alt="Группа Вконтакте" title="Группа Вконтакте"/></span>
</footer>
</body>
</html>