
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="test,site,website"/>
    <meta name="description" content="Пробный сайт"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>Тестовый сайт</title>
</head>
<body>
<div id="page-wrap">
    <header th:insert="blocks/header :: header"></header>
    <div class="clear"><br/></div>
    <center>
        <div id="menu_Cat">Разделы
            <hr/>
        </div>
        <div id="menuHrefs">
            <a href="/about">О нас</a>
            <a href="/feedback">Обратная связь</a>
            <a href="/blog">Блог</a>
            <a href="/blog/add">Добавить статью</a>
            <a href="/">Главная</a>
        </div>
    </center>
    <div id="wrapper">
        <div id="articles" class="add">
            <div class="blog_details">
                <h1 id="name_edit">Редактирование статьи</h1></br>
                <div th:each="el : ${post}" >
                    <form method="post">
                        <label for="title" class="edit">Изменить название</label>
                        <input class="form_control_edit" type="text" th:value="${el.title}" name="title" /><br>
                        <label for="title" class="edit">Изменить анонс статьи</label>
                        <input class="form_control_edit" type="text" th:value="${el.anons}" name="anons" /><br>
                        <label for="title" class="edit">Изменить текст статьи</label>
                        <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control"
                                  th:text="${el.full_text}"/><br><br>
                        <input type="submit" value="Обновить статью" id="add" name="add"/>
                        <br>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <span class="left">Все права защищены &copy; 2023</span>
    <span class="right">Социальные сети
    <img src="/img/VK.png" alt="Группа Вконтакте" title="Группа Вконтакте"/></span>
</footer>
</body>
</html>