<div th:fragment="header">
    <a href="/" title="На главную" id="logo"> Test-Site</a>
    <span class="contact">
        <a href="/about" title="Информация о нас " id="info">О нас</a>
    </span>
    <input type="text" class="field" placeholder="Давай помогу найти"/>
    <span class="right">
        <span class="contact">
        <a href="/reg" title="Зарегистрироваться">Регистрация</a>
        </span>
        <span class="contact">
        <a href="/auth" title="Войти ">Вход</a>
        </span>
    </span>
</div>